:root {
  --column-gap: 24px;
  --row-gap: 48px;
  --items-in-row: 1;
  --image-height: 200px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: var(--row-gap) var(--column-gap);
  justify-content: flex-start;
  align-items: flex-start;
}

.photo-card {
  flex: 0 0
    calc(
      (100% - (var(--items-in-row) - 1) * var(--column-gap)) /
        var(--items-in-row)
    );
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  position: relative;
  border-radius: 4px;
}

@media only screen and (min-width: 768px) {
  .photo-card {
    --items-in-row: 2;
  }
}

@media only screen and (min-width: 1158px) {
  .photo-card {
    --items-in-row: 4;
  }
}

.photo-card img {
  width: 100%;
  height: var(--image-height);
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px;
  background: rgba(0, 0, 0, 0.1);
}

.info-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.info-title,
.info-value {
  text-decoration: none;
  color: black;
}

.info-item i {
  color: gray;
  font-size: 20px;
  margin-bottom: 8px;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-form input {
  width: 100%;
  max-width: 400px;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

.search-form button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.load-more-hidden {
  display: none;
}

.scroll-to-top,
.scroll-to-bottom {
  position: fixed;
  bottom: 20px; /* Adjust for .scroll-to-bottom if needed */
  right: 20px;
  z-index: 1000;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.scroll-to-bottom {
  bottom: 60px; /* Position it differently than the scroll-to-top button */
}

.fas.fa-arrow-up,
.fas.fa-arrow-down {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}
